.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  .h2 {
    margin: 10px 0px;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 500px) {
      flex-direction: column;
    }
  }
  @media (max-width: 500px) {
    width: 300px;
  }

  @media (max-width: 376px) {
    width: 250px;
  }
}
.googleBtn {
  margin-top: 0px;
  margin-left: 20px;
  @media (max-width: 500px) {
    margin-top: 20px;
    width: 100%;
    margin-left: 0px;
  }
}
